<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Đổi mật khẩu</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="styles.css">
</head>
<body>
	

	<a href="/bangchinh"><img style="position: static;  right: 0px;  width: 30px;height: 30px;" src="./bangchinh.png" ></a>
	  
	<div class="container">
	
	<div class="screen">
		<div class="screen__content">
			<form action="/changepassword" class="login" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="param1" id="param1" class="login__input" placeholder="New password"> 
					<!-- username -->
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="param2" id="param2" class="login__input" placeholder="Confirm password">
					<!-- password -->
				</div>
			
				<button class="button login__submit" type="submit">
					<span class="button__text">Submit</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3></h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>


<!-- partial -->
	<% if (result == "khongkhop") { %>
		<script>
			alert('Mật khẩu không khớp! Hãy thử lại!');
	  </script>
  	<% }else if(result == "matkhauyeu" ) { %>
		<script>
			alert('Mật khẩu phải bao gồm số và chữ in hoa!');
		</script>	
	<% }else if(result == "dadoimatkhau" ) { %>
		<script>
			alert('Mật khẩu đã được thay đổi!');
		</script>	  
  <% } %>

</body>
</html>
